.botao-adicionar {
    display: inline-block;
    background-color: #e50914;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.preco {
    color: #e50914;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.alugar {
    display: inline-block;
    background-color: #e50914;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
}

.formulario {
    background-color: white;
    width: 500px;
    max-width: 100%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

.formulario h1 {
    color: #e50914;
    margin-bottom: 25px;
}

.formulario label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    margin-top: 25px;
}